<div *ngInit gelAllArticle()></div>
<div *ngIf="!charged; else blockcharged" class="center">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

</div>
<ng-template #blockcharged>
  <h1>Articles en stock</h1>
  <table class="table table-hover">
    <thead>
      <tr class='table-dark'>
        <th scope="col">Nom</th>
        <th hidden>ID</th>
        <th scope="col">Quantité en stock</th>
        <th scope="col">Prévisions d'utilisation</th>
        <th scope="col">Total</th>
        <th scope="col">Détails</th>
      </tr>
    </thead>
    <tbody *ngFor="let article of articles$; let index=index">
      <tr>
        <td>{{article.name}}</td>
        <td hidden>{{article.id}}</td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td><button mat-flat-button color="primary" (click)=details(article.id)>détails</button></td>
        <!--
        <td>{{article.stocks}}</th>
-->
      </tr>
    </tbody>
  </table>

  <div *ngIf="newArticle">
    <form [formGroup]="newArticleForm" (submit)="createArticle()">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput id="name" formControlName="nameFC" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput id="alias" formControlName="alias" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="pattern">Type</mat-label>
        <mat-select id="pattern" formControlName="patternId">
          <mat-option>aucun</mat-option>
          <mat-option *ngFor="let articlePattern of artPattern$" [value]="articlePattern.id">{{articlePattern.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="formatDetermination() let formatDisplayHtml">
      <mat-form-field *ngIf="formatDisplayHtml.nbDimension>0"appearance="fill">
        <mat-label>Quantité</mat-label>
        <input matInput type="number" id="quantity1" formControlName="quantity1" />
        <span matSuffix>{{formatDisplayHtml.unit}}</span>
      </mat-form-field>
      <mat-form-field *ngIf="formatDisplayHtml.nbDimension>1"appearance="fill">
        <mat-label>Quantité</mat-label>
        <input matInput type="number" id="quantity2" formControlName="quantity2" />
        <span matSuffix>{{formatDisplayHtml.unit}}</span>
      </mat-form-field>
      <mat-form-field *ngIf="formatDisplayHtml.nbDimension>2"appearance="fill">
        <mat-label>Quantité</mat-label>
        <input matInput type="number" id="quantity3" formControlName="quantity3" />
        <span matSuffix>{{formatDisplayHtml.unit}}</span>
      </mat-form-field>
    </span>


      <br />
      <div class="form-groupe row">
        <button mat-flat-button class="btn" color="primary" type="submit">Ajouter</button>
        <button mat-flat-button color="accent" (click)="cancel()"> Annuler </button>

      </div>
    </form>
  </div>

  <div class="groupebtn" *ngIf="!newArticle">
    <button mat-flat-button color="primary" (click)=openCreatePanel()>Ajouter un article</button>
  </div>
  <br />
  <button mat-flat-button color="primary" (click)=createPatternPop()>Ajouter un model d'article</button>

</ng-template>
