<div *ngInit gelAllArticle()></div>
<div *ngIf="!charged; else blockcharged" class="center">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

</div>
<ng-template #blockcharged>
  <h1>Articles en stock</h1>
  <table class="table table-hover">
    <thead>
      <tr class='table-dark'>
        <th scope="col">Nom</th>
        <th hidden>ID</th>
        <th scope="col">Détails</th>
      </tr>
    </thead>
    <tbody *ngFor="let article of articles$; let index=index">
      <tr>
        <td>{{article.name}}</td>
        <td hidden>{{article.id}}</td>
        <td><button mat-flat-button color="primary" (click)=details(article.id)>détails</button></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="newArticle">
    <form [formGroup]="newArticleForm" (submit)="createArticle()">
      <div class="form-groupe row">
        <label for="name" class="col-2 col-form-label">Nom</label>
        <div class="col-10">
          <input type="text" id="name" class="form-control" formControlName="nameFC" />
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label for="pattern" class="col-2 col-form-label">Format</mat-label>
        <mat-select id="pattern" formControlName="patternId">
          <mat-option *ngFor="let articlePattern of artPattern$" [value]="articlePattern.id">{{articlePattern.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div class="form-groupe row">
        <input class="btn" color="primary" type="submit" value="Ajouter" />
      </div>
    </form>
  </div>

  <div class="groupebtn" *ngIf="!newArticle">
    <button mat-flat-button color="primary" (click)=openCreatePanel()>Ajouter un article</button>
  </div>
  <br />
  <button mat-flat-button color="accent" (click)=createPatternPop()>Ajouter un model d'article</button>

</ng-template>
