<form [formGroup]="newPatternForm" (submit)="createPattern()">
  <div class="form-groupe row">
    <label for="patternName" class="col-2 col-form-label">Nom</label>
    <div class="col-10">
      <input type="text" id="patternName" class="form-control" formControlName="name" />
    </div>
    <div class="col-10">
      <mat-form-field appearance="fill">
        <mat-label for="patternFormat" class="col-2 col-form-label">Format</mat-label>
        <mat-select id="patternFormat" formControlName="id">
          <mat-option *ngFor="let formatSelected of formats" [value]="formatSelected.id">{{formatSelected.name}} (
            {{formatSelected.unit}} )</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form-groupe row">
    <input class="btn" color="primary" type="submit" value="Ajouter" />
  </div>
</form>
<br />
<mat-dialog-actions>
  <button mat-flat-button color="primary" matDialogClose>Fermer</button>
</mat-dialog-actions>
